<div class="navbar navbar-inner">
	<div class="container">
    	<ul class="nav">
            <li {if '{embed:location}'=="home"} class="active"{/if}><a href="{path='site_index'}">Home</a></li>
            <li {if '{embed:location}'=="blog"} class="active"{/if}><a href="{path='blog'}">Blog</a></li>
            <li {if '{embed:location}'=="about"} class="active"{/if}><a href="{path='about'}">About me</a></li>
            <li {if '{embed:location}'=="contact"} class="active"{/if}><a href="{path='contact'}">Contact</a></li>
      	</ul>
    </div>
</div>